# project
dag-outputs/*
!dag-outputs
postgres-db-volume/*
!postgres-db-volume
logs/*
!logs
.env
python/

# general
.DS_Store
Thumbs.db
ehthumbs.db
.Rproj.user
*.Rproj
**/__pycache__
.envrc

*.Rhistory
*_cache/